.content {
  padding: 1rem;
  display: flex;
  gap: 10px;
  width: fit-content;
  border-radius: 20px;

  img {
    width: 16px;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

  &.pending {
    background-color: #fffbeb;
    color: #f8b94d;
  }

  &.resolved {
    background-color: #f0f7ea;
    color: #97c773;
  }
}
